<div class="input-group">
  <input type="text" class="form-control" placeholder="Search for name" [(ngModel)]="term">
  <span class="input-group-btn"></span>
</div>
<div class="row">
  <div *ngFor="let res of employeeRes | filter:term; let i = index" [attr.data-index]="i"  class="col-md-12">
    <a [routerLink]="['/details', i]">
      <div class="flex">
        <img class="img-fluid" src="{{res.picture.large}}"/>
        <div class="flex-info">
           <h2>{{res.name.first | capitalize }} {{res.name.last}}</h2>
          <p><span>Country:</span> {{res.location.city | capitalize}}</p>
          <!-- <p>Id:{{employee.}} </p> -->
          <!-- <pre>{{employee | json}}</pre> -->
        </div> <!-- end FlexInfo -->
      </div> <!-- end Flex -->
    </a>
  </div> <!-- end ngFor -->
</div> <!-- end Row-->
