a
  text-decoration: none
  outline: none
  .flex
    border: 1px solid #eee
    margin-bottom: 25px
    display: flex
    overflow: hidden
    align-items: center

    &:hover
      border-color: #5cb3fd
      cursor: pointer

    .flex-info
      padding: 10px 0px 10px 25px
      display: flex
      flex-direction: column

      span
        font-weight: bold

      p
        margin: 0
        color: #292b2c
      h2
        color: #292b2c

.input-group
  margin: 25px 0px
