<div class="input-group">
  <input type="text" class="form-control" placeholder="Search for name" [(ngModel)]="term">
  <span class="input-group-btn"></span>
</div>
<div class="row">
  <div *ngFor="let employee of employees | filter:term; let i = index" [attr.data-index]="i"  class="col-md-12">
    <a [routerLink]="['/details', i]">
      <div class="flex">
        <img class="img-fluid" src="{{employee.picture.large}}"/>
        <div class="flex-info">
           <h2>{{employee.name.first | capitalize }} {{employee.name.last}}</h2>
          <p><span>Country:</span> {{employee.location.city | capitalize}}</p>
          <p>Id:{{i}} </p>
          <!-- <pre>{{employee | json}}</pre> -->
        </div> <!-- end FlexInfo -->
      </div> <!-- end Flex -->
    </a>
  </div> <!-- end ngFor -->
</div> <!-- end Row-->
