.pad-top
  padding-top: 100px

  .flex
    border: 1px solid #eee
    margin-bottom: 25px
    display: flex
    overflow: hidden
    align-items: center


    .flex-info
      padding: 10px 0px 10px 25px

      span
        font-weight: bold

      p
        margin: 0


  .input-group
    margin: 25px 0px
